body {
    font-family: Arial, sans-serif;
}

table {
    width: 60%;
    border-collapse: collapse;
}

th {
    background-color: #c8d3e3;
}

td {
    background-color: #ffffff;
}
.container {
    margin-top: 20px;
}
